#SearchBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#SearchBar select{
    font-size: 4em;
}
#SearchBar input{
    height: 1.5em;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 1.6%;
    margin-left: 1%;
}
#searchBy{
    margin-top: 1.8%;
    margin-left: 1%;
}
#SearchBar #submitBtn {
    background-color: white;
    height: 2em;
}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 1rem;
}